.container_novidades {
    display: flex;
    flex-direction: column;

    .optionss {
        display: flex;
        gap: .5rem;

        button {
            padding: 7px 10px;
            background-color: var(--primary);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #292929;
        }
    }

    .novidades {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 80px;

        .item {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 3rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.09);
            padding-bottom: 1rem;

            .dados {
                display: flex;
                gap: 1rem;
                align-items: center;

                img {
                    width: 100px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                span {
                    font-size: 14px;
                }
            }

            .container-status {
                display: flex;
                gap: 1rem;
            }

            .status {
                width: 100px;
                text-align: start;
                font-size: 12px;
                padding: 5px 7px;
                border-radius: 5px;


                

                &.habilitado {
                    color: var(--primary);
                }

                &.disabilitado {
                    color: #a1a1aa;
                }
            }

            .options {
                display: flex;
                gap: 3rem;
                align-items: center;
            }

            .btns {

                display: flex;
                gap: .5rem;

                div {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    display: grid;
                    place-content: center;
                    border-radius: 50%;
                    color: var(--primary);
                }
            }
        }
    }
}




::ng-deep .ticket-dialog {
    background-color: rgba($color: #292929, $alpha: 1.0) !important;

    width: 30%;

    @media (max-width: 1200px) {
        width: 50% !important;
    }

    @media (max-width: 992px) {
        width: 60% !important;
    }

    @media (max-width: 768px) {
        width: 70% !important;
    }

    @media (max-width: 576px) {
        width: 90% !important;
        padding: 0 !important;
    }

    .create_suporte {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        position: relative;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .dados {
                width: 100%;
                display: flex;
                gap: 1rem;

                .p-select {
                    width: 100% !important;
                    background-color: transparent !important;
                    border: 2px solid var(--primary) !important;
                    color: white !important;
                }

            }

            .form-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                gap: .5rem;

                // .p-select {
                //     width: 33.5% !important;
                //     background-color: transparent !important;
                //     border: 2px solid $primary !important;
                //     color: white !important;
                // }

                .p-inputtext,
                .p-textarea {
                    font-size: 14px;
                    width: 100%;

                    background-color: transparent !important;
                    border: 2px solid var(--primary) !important;
                }

                .p-textarea {
                    height: auto !important;
                }


            }

        }

        .file_photo {
            width: 100%;
            height: 150px;

            input[type="file"] {
                display: none;
                /* Esconde o input padrão */
            }

            input[type="file"]:disabled+label {
                background-color: grey;
                cursor: not-allowed;
            }


            label {
                width: 100%;
                background-color: var(--primary);
                /* Cor de fundo */
                color: white;
                /* Cor do texto */
                padding: 5px;
                /* Espaçamento interno */
                border-radius: 5px;
                /* Bordas arredondadas */
                cursor: pointer;
                /* Cursor de ponteiro */
                text-align: center;
                font-size: 14px;

                &.disabled {
                    background-color: rgba($color: #EF903C, $alpha: 0.5) !important;
                    cursor: not-allowed;
                }
            }
        }

        .btns {
            display: flex;
            align-items: center;
            gap: 1rem;

            span {
                font-size: 14px;

            }
        }

        button {
            padding: .5rem 2rem;
            background-color: var(--primary);
            color: var(--secundary);
            border-radius: 6px;
            border: none;
            display: flex;
            gap: .5rem;
            align-items: center;
            cursor: pointer;
            justify-content: center;



            i {
                color: var(--secundary);

            }
        }

        @media (max-width: 576px) {
            padding: 0 !important;

            button {
                width: 100%;
            }
        }


    }
}

::ng-deep .p-dialog-header {
    padding: 1.5rem 2rem !important;
}

::ng-deep .p-select-overlay,
.p-datepicker-panel {
    background-color: rgba($color: #292929, $alpha: 1.0) !important;
}

::ng-deep .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background-color: var(--primary) !important;
}

::ng-deep .p-toggleswitch-slider {
    background-color: transparent !important;
    border: 1px solid var(--primary) !important;
}


::ng-deep .pi {
    display: none !important;
}


.file-add {
    width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
    margin: 10px;
    flex-grow: 1;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
}

.item {
    position: relative;
}

.item:hover .excluir {
    display: grid;
}


.excluir {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    place-content: center;
    background-color: #A0A0A0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}

.full-screen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fundo preto translúcido */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen-image img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}


.background_criando {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;

    .criando {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #EF903C, $alpha: 0.5);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        z-index: 99999;
    }
}