<div class="container_novidades">
    <div class="optionss">
        <button (click)="visibleCriar = true">Criar novidade</button>
    </div>

    <div class="novidades">
        <div class="item" *ngFor="let item of novidades, let i = index">
            <div class="dados">
                <img [src]="item.fotoLink" alt="">
                <span>{{item.title}}</span>
            </div>
            <div class="options">
                <div class="container-status">
                    <p-toggleswitch [(ngModel)]="item.visibilidade" (onChange)="alterarVisibilidade(item, i)">
                        <ng-template #handle let-checked="checked">
                            <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                        </ng-template>
                    </p-toggleswitch>
                    <span class="status"
                        [ngClass]="{'disabilitado': !item.visibilidade, 'habilitado': item.visibilidade}">
                        {{ item.visibilidade ? 'Habilitado' : 'Desabilitado' }}
                    </span>
                </div>
                <div class="btns">
                    <div class="edit" (click)="editNovidade(item)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div class="delete" (click)="delete(item.id)">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="visibleCriar" [modal]="true" [draggable]="false" [resizable]="false" header="Criar novidade"
    styleClass="ticket-dialog" (onHide)="closeModal()">
    <div class="create_suporte">
        <form [formGroup]="dados">
            <div class="form-group">
                <label for="assunto">Descrição</label>
                <input type="text" pInputText placeholder="Deixe um assunto" formControlName="title" />
            </div>
            <div class="form-group">
                <label for="assunto">Link do video</label>
                <input type="text" pInputText placeholder="Link do video" formControlName="videoLink" />
            </div>

            <div class="form-group file_photo">
                <label for="foto" [class.disabled]="imagePreview">Selecionar imagem</label>
                <input type="file" id="foto" name="foto" accept="image/*" class="form-control"
                    (change)="onFilesSelected($event)" multiple #fileInput [disabled]="imagePreview">

                <div class="file-add" *ngIf="selectedFile">
                    <div class="item">
                        <!-- Nome do arquivo -->
                        <img [src]="imagePreview" *ngIf="imagePreview" alt="Image preview" width="200px" class="img"
                            (click)="openFullScreenImage(imagePreview)">
                        <!-- Pré-visualização da imagem -->
                        <div class="excluir" (click)="removeFile()">
                            <i class="fa-solid fa-x" style="color: white; font-size: 10px;"></i>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="btns">
            <span>Visibilidade:</span>
            <p-toggleswitch [(ngModel)]="visibilidade">
                <ng-template #handle let-checked="checked">
                    <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                </ng-template>
            </p-toggleswitch>
            <button class="btn-style-global" [disabled]="!dados.valid || !selectedFile" (click)="create()">
                <i class="fa-solid fa-paper-plane"></i>
                Criar
            </button>
        </div>

    </div>
</p-dialog>

<p-dialog [(visible)]="visibleEdit" [modal]="true" [draggable]="false" [resizable]="false" header="Criar novidade"
    styleClass="ticket-dialog" (onHide)="closeModal()">
    <div class="create_suporte">
        <form [formGroup]="dados">
            <div class="form-group">
                <label for="assunto">Descrição</label>
                <input type="text" pInputText placeholder="Deixe um assunto" formControlName="title" />
            </div>
            <div class="form-group">
                <label for="assunto">Link do video</label>
                <input type="text" pInputText placeholder="Link do video" formControlName="videoLink" />
            </div>

            <div class="form-group file_photo">
                <label for="foto" [class.disabled]="imagePreview">Selecionar imagem</label>
                <input type="file" id="foto" name="foto" accept="image/*" class="form-control"
                    (change)="onFilesSelected($event)" multiple #fileInput [disabled]="imagePreview">

                <div class="file-add">
                    <div class="item">
                        <!-- Nome do arquivo -->
                        <img [src]="imagePreview" *ngIf="imagePreview" alt="Image preview" width="200px" class="img"
                            (click)="openFullScreenImage(imagePreview)">
                        <!-- Pré-visualização da imagem -->
                        <div class="excluir" (click)="removeFile()">
                            <i class="fa-solid fa-x" style="color: white; font-size: 10px;"></i>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="btns">
            <span>Visibilidade:</span>
            <p-toggleswitch [(ngModel)]="visibilidade">
                <ng-template #handle let-checked="checked">
                    <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                </ng-template>
            </p-toggleswitch>
            <button class="btn-style-global" (click)="updateEdit()">
                <i class="fa-solid fa-paper-plane"></i>
                Salvar
            </button>
        </div>

    </div>
</p-dialog>


<div class="full-screen-image" *ngIf="fullScreenImageUrl">
    <div class="excluir" (click)="closeFullScreenImage()" style="display: grid; top: 10px; right: 10px; width: 30px;
    height: 30px;">
        <i class="fa-solid fa-x" style="color: white; font-size: 16px; "></i>
    </div>
    <img [src]="fullScreenImageUrl" alt="Full screen image">
</div>


<div class="background_criando" *ngIf="isLoading">
    <div class="criando">
        <p-progress-spinner ariaLabel="loading" />
        {{nameLoading}}
    </div>
</div>