<div class="container-slide" [class.open]="isOpen">
    <div class="first">
        <div class="logo">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="links">
            <span class="link" [ngClass]="{'active': isActive('/dashboard')}" routerLink="/dashboard">
                <div class="icon">
                    <i class="fa-solid fa-chart-line"></i>
                </div>
                <span>Dashboard</span>
            </span>

            <span class="link" [ngClass]="{'active': isActive('/trip')}" routerLink="/trip">
                <div class="icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <span>Jogadores</span>
            </span>

            <span class="link" [ngClass]="{'active': isActive('/allowlist')}" routerLink="/allowlist">
                <div class="icon">
                    <i class="fa-solid fa-user-check"></i>
                </div>
                <span>Allowlist</span>
            </span>

    
            <span class="link" [ngClass]="{'active': isActive('/ticket')}" routerLink="/ticket">
                <div class="icon">
                    <i class="fa-solid fa-ticket-alt"></i>
                </div>
                <span>Tickets</span>
            </span>

            <span class="link" [ngClass]="{'active': isActive('/admins')}" routerLink="/admins">
                <div class="icon">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <span>Admins</span>
            </span>

            <span class="link" [ngClass]="{'active': isActive('/logs')}" routerLink="/logs">
                <div class="icon">
                    <i class="fa-solid fa-clipboard-list"></i>
                </div>
                <span>Logs</span>
            </span>

            <span class="link" [ngClass]="{'active': isActive('/estatisticas')}" routerLink="/estatisticas">
                <div class="icon">
                    <i class="fa-solid fa-clipboard-list"></i>
                </div>
                <span>Estatísticas site</span>
            </span>
            <span class="link" [ngClass]="{'active': isActive('/novidades')}" routerLink="/novidades">
                <div class="icon">
                    <i class="fa-solid fa-clipboard-list"></i>
                </div>
                <span>Novidades</span>
            </span>
        </div>

    </div>

</div>