.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Cria colunas responsivas */
    gap: 2rem;
    /* Espaçamento entre os cards */
    justify-content: center;
    /* Centraliza os cards */
    padding: 1rem;
    /* Adiciona um padding para não colar nas bordas */

    .card {
        width: 100%;
        /* Ocupa 100% da largura da coluna */
        height: 450px;
        background-color: #222728;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: flex-end;
        overflow: hidden;
        /* Garante que o conteúdo não ultrapasse o card */
        background-position: center center;
        background-size: cover;

        .edit {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        &.prata {
            background-position: center center;
            background-size: cover;
        }

        &.ouro {
            background-position: center center;
            background-size: cover;
        }

        &.diamante {
            background-position: center center;
            background-size: cover;
        }

        &.esmeralda {
            background-position: center center;
            background-size: cover;
        }

        .content {
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            height: 250px;
            gap: .6rem;
            padding: 0 20px 15px;
            box-shadow: 3px 29px 30px -11px rgba(0, 0, 0, 0.75);
            background: linear-gradient(180deg, rgba(42, 42, 42, 0.00) -2.25%, rgba(23, 24, 25, 0.788) 17.41%, #0D0F0F 100%);

            h1 {
                margin: 0 !important;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 700;
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                /* Limita a 3 linhas */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #CAC4D0;
                font-size: 14px;
                font-weight: 300;
                padding: 0 !important;
                margin: 0 !important;
            }

            .description {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                /* Limita a 3 linhas */
                -webkit-box-orient: vertical;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                color: white !important;
            }

            .valor {
                font-size: 16px;
            }

            button {
                padding: .5rem 1rem;
                font-size: 14px;
                border-radius: 50px;
                border: none;
            }


            span {
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 12px;
                font-weight: normal;
            }


        }
    }
}


.formulario-edicao {
    background: #333;
    padding: 2rem;
    border-radius: 10px;
    color: white;
  
    input, button {
      display: block;
      margin-bottom: 1rem;
      padding: 0.5rem;
      width: 100%;
    }
  
    button {
      background-color: #00b894;
      border: none;
      color: white;
      cursor: pointer;
  
      &:last-child {
        background-color: #d63031;
      }
    }
  }
  