Criar Vips

<div class="cards">
  <div class="card" [ngClass]="item.class" *ngFor="let item of vipItem.slice(0, 4)" [ngStyle]="{'background-image': 'url(' + item.photo + ')'}">
    
    <div class="edit" (click)="editCard(item)"><i class="fas fa-pencil"></i></div>

    <div class="content">
          <h1 class="vip_title">{{item.title}}</h1>
          <p class="vip_title">{{item.dateValidade}}</p>
          <p class="description">{{item.description}}</p>
          <span class="valor">R$: {{item.price}},00</span>
          <button><i class="fas fa-crown"></i>  Entrar para o clube</button>
          <span>Ver detalhes <i class="fas fa-chevron-right"></i></span>
      </div>
  </div>
</div>


<div class="formulario-edicao" *ngIf="editingCard">
  <h2>Editando: {{ editingCard.title }}</h2>

  <input [(ngModel)]="cardData.title" placeholder="Título" />
  <input [(ngModel)]="cardData.description" placeholder="Descrição" />
  <input [(ngModel)]="cardData.dateValidade" />
  <input [(ngModel)]="cardData.detalis" placeholder="Detalhes" />
  <input [(ngModel)]="cardData.price" type="number" placeholder="Preço" />

  <input type="file" (change)="onFilesSelected($event)" #fileInput />
  <img *ngIf="imagePreview" [src]="imagePreview" width="100" />

  <button (click)="save()">Salvar</button>
  <button (click)="resetForm()">Cancelar</button>
</div>
