/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "primeicons/primeicons.css";

:root {
    --primary: #EF903C;
    --second-color: #222728;
    --background-color: #1D1C1C;
    --color: #000000;
    --card-backgorund: #fff;
    --card-border: #E4E7EC;
    --icon-color: #565656;
    --p-select-focus-border-color: #4A76E6 !important;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container_create{
    padding: 0 20px;
}




.btn-style-global {
    transition: all 100ms ease-in-out !important;
    cursor: pointer;
  
    &:hover {
      background-color: #FBB87D !important;
    }
  
    &:active {
      background-color: #AB6B32 !important;
    }
  
    &:disabled {
      background-color: rgba($color: #EF903C, $alpha: 0.5) !important;
    }
  }
  